:root {
    --blue: #66b3ff;
    --blue-100: #5fa7f5;
    --blue-200: #579ae6;
    --blue-300: #4f8ed8;
    --blue-400: #4781c9;
    --blue-500: #3f75bb;
    --blue-600: #3768ad;
    --blue-700: #2f5b9e;
    --blue-800: #274f90;
    --blue-900: #204281;

    --indigo: #6610f2;
    --indigo-100: #9f5ddc;
    --indigo-200: #8b4dca;
    --indigo-300: #7f42b4;
    --indigo-400: #6f3ea3;
    --indigo-500: #5f3490;
    --indigo-600: #4f2c7d;
    --indigo-700: #402369;
    --indigo-800: #321b56;
    --indigo-900: #271548;

    --purple: #6f42c1;
    --purple-100: #9a66d1;
    --purple-200: #8854ba;
    --purple-300: #7f42b4;
    --purple-400: #6e3a9d;
    --purple-500: #5c3286;
    --purple-600: #4b2b70;
    --purple-700: #3b235a;
    --purple-800: #2d1b47;
    --purple-900: #221538;

    --pink: #d63384;
    --pink-100: #f39cc3;
    --pink-200: #e673a5;
    --pink-300: #d9578f;
    --pink-400: #c8487f;
    --pink-500: #b53970;
    --pink-600: #9a305f;
    --pink-700: #7f264e;
    --pink-800: #65203e;
    --pink-900: #50172f;

    --red: #dc3545;
    --red-100: #f28e95;
    --red-200: #e6676d;
    --red-300: #dc4b56;
    --red-400: #c63848;
    --red-500: #a92d3a;
    --red-600: #8e2331;
    --red-700: #731a27;
    --red-800: #5b121e;
    --red-900: #461016;

    --orange: #fd7e14;
    --orange-100: #ffaf5c;
    --orange-200: #ff954a;
    --orange-300: #fd8239;
    --orange-400: #e4732f;
    --orange-500: #cc6125;
    --orange-600: #b1521e;
    --orange-700: #8d4216;
    --orange-800: #723412;
    --orange-900: #5c2a0f;

    --yellow: #ffc107;
    --yellow-100: #ffe082;
    --yellow-200: #ffd54f;
    --yellow-300: #ffc83a;
    --yellow-400: #eab334;
    --yellow-500: #d39d2e;
    --yellow-600: #b68728;
    --yellow-700: #956f21;
    --yellow-800: #795a1b;
    --yellow-900: #624716;

    --green: #198754;
    --green-100: #66d08c;
    --green-200: #53b875;
    --green-300: #46a46d;
    --green-400: #3e8e61;
    --green-500: #33755a;
    --green-600: #295d4d;
    --green-700: #20473f;
    --green-800: #17382e;
    --green-900: #102925;

    --teal: #20c997;
    --teal-100: #66dbd4;
    --teal-200: #54c6bb;
    --teal-300: #44b09f;
    --teal-400: #3a9986;
    --teal-500: #317d6d;
    --teal-600: #276353;
    --teal-700: #1f4d42;
    --teal-800: #173933;
    --teal-900: #112825;

    --cyan: #0dcaf0;
    --cyan-100: #66e1f6;
    --cyan-200: #42d6f3;
    --cyan-300: #22c8ec;
    --cyan-400: #1bb1d3;
    --cyan-500: #149ab9;
    --cyan-600: #0f7f99;
    --cyan-700: #0a667d;
    --cyan-800: #074e61;
    --cyan-900: #053949;

    --gray-100: #e2e6ea;
    --gray-200: #d5dbdf;
    --gray-300: #c4c9ce;
    --gray-400: #b0b5b9;
    --gray-500: #adb5bd;
    --gray-600: #868e96;
    --gray-700: #70777e;
    --gray-800: #54595e;
    --gray-900: #3c4146;


    --black: #000;
    --white: #fff;
}

.blue {
    background-color: var(--blue);
    color: var(--white);
}

.blue-100 {
    background-color: var(--blue-100);
    color: var(--white);
}

.blue-200 {
    background-color: var(--blue-200);
    color: var(--white);
}

.blue-300 {
    background-color: var(--blue-300);
    color: var(--white);
}

.blue-400 {
    background-color: var(--blue-400);
    color: var(--white);
}

.blue-500 {
    background-color: var(--blue-500);
    color: var(--white);
}

.indigo {
    background-color: var(--indigo);
    color: var(--white);
}

.indigo-100 {
    background-color: var(--indigo-100);
    color: var(--white);
}

.indigo-200 {
    background-color: var(--indigo-200);
    color: var(--white);
}

.indigo-300 {
    background-color: var(--indigo-300);
    color: var(--white);
}

.indigo-400 {
    background-color: var(--indigo-400);
    color: var(--white);
}

.indigo-500 {
    background-color: var(--indigo-500);
    color: var(--white);
}

.purple {
    background-color: var(--purple);
    color: var(--white);
}

.purple-100 {
    background-color: var(--purple-100);
    color: var(--white);
}

.purple-200 {
    background-color: var(--purple-200);
    color: var(--white);
}

.purple-300 {
    background-color: var(--purple-300);
    color: var(--white);
}

.purple-400 {
    background-color: var(--purple-400);
    color: var(--white);
}

.purple-500 {
    background-color: var(--purple-500);
    color: var(--white);
}

.pink {
    background-color: var(--pink);
    color: var(--white);
}

.pink-100 {
    background-color: var(--pink-100);
    color: var(--white);
}

.pink-200 {
    background-color: var(--pink-200);
    color: var(--white);
}

.pink-300 {
    background-color: var(--pink-300);
    color: var(--white);
}

.pink-400 {
    background-color: var(--pink-400);
    color: var(--white);
}

.pink-500 {
    background-color: var(--pink-500);
    color: var(--white);
}

.red {
    background-color: var(--red);
    color: var(--white);
}

.red-100 {
    background-color: var(--red-100);
    color: var(--white);
}

.red-200 {
    background-color: var(--red-200);
    color: var(--white);
}

.red-300 {
    background-color: var(--red-300);
    color: var(--white);
}

.red-400 {
    background-color: var(--red-400);
    color: var(--white);
}

.red-500 {
    background-color: var(--red-500);
    color: var(--white);
}

.orange {
    background-color: var(--orange);
    color: var(--white);
}

.orange-100 {
    background-color: var(--orange-100);
    color: var(--white);
}

.orange-200 {
    background-color: var(--orange-200);
    color: var(--white);
}

.orange-300 {
    background-color: var(--orange-300);
    color: var(--white);
}

.orange-400 {
    background-color: var(--orange-400);
    color: var(--white);
}

.orange-500 {
    background-color: var(--orange-500);
    color: var(--white);
}

.yellow {
    background-color: var(--yellow);
    color: var(--white);
}

.yellow-100 {
    background-color: var(--yellow-100);
    color: var(--white);
}

.yellow-200 {
    background-color: var(--yellow-200);
    color: var(--white);
}

.yellow-300 {
    background-color: var(--yellow-300);
    color: var(--white);
}

.yellow-400 {
    background-color: var(--yellow-400);
    color: var(--white);
}

.yellow-500 {
    background-color: var(--yellow-500);
    color: var(--white);
}

.green {
    background-color: var(--green);
    color: var(--white);
}

.green-100 {
    background-color: var(--green-100);
    color: var(--white);
}

.green-200 {
    background-color: var(--green-200);
    color: var(--white);
}

.green-300 {
    background-color: var(--green-300);
    color: var(--white);
}

.green-400 {
    background-color: var(--green-400);
    color: var(--white);
}

.green-500 {
    background-color: var(--green-500);
    color: var(--white);
}

.teal {
    background-color: var(--teal);
    color: var(--white);
}

.teal-100 {
    background-color: var(--teal-100);
    color: var(--white);
}

.teal-200 {
    background-color: var(--teal-200);
    color: var(--white);
}

.teal-300 {
    background-color: var(--teal-300);
    color: var(--white);
}

.teal-400 {
    background-color: var(--teal-400);
    color: var(--white);
}

.teal-500 {
    background-color: var(--teal-500);
    color: var(--white);
}

.cyan {
    background-color: var(--cyan);
    color: var(--white);
}

.cyan-100 {
    background-color: var(--cyan-100);
    color: var(--white);
}

.cyan-200 {
    background-color: var(--cyan-200);
    color: var(--white);
}

.cyan-300 {
    background-color: var(--cyan-300);
    color: var(--white);
}

.cyan-400 {
    background-color: var(--cyan-400);
    color: var(--white);
}

.cyan-500 {
    background-color: var(--cyan-500);
    color: var(--white);
}

.gray-100 {
    background-color: var(--gray-100);
    color: #000;
    /* Black */
}

.gray-200 {
    background-color: var(--gray-200);
    color: #000;
}

.gray-300 {
    background-color: var(--gray-300);
    color: #000;
}

.gray-400 {
    background-color: var(--gray-400);
    color: #000;
}

.gray-500 {
    background-color: var(--gray-500);
    color: #000;
}

.gray-600 {
    background-color: var(--gray-600);
    color: var(--white);
}

.gray-700 {
    background-color: var(--gray-700);
    color: var(--white);
}

.gray-800 {
    background-color: var(--gray-800);
    color: var(--white);
}

.gray-900 {
    background-color: var(--gray-900);
    color: var(--white);
}

.black {
    background-color: var(--black);
    color: var(--white);
}

.white {
    background-color: var(--white);
    color: var(--black);
}